:root{
    --background-dark-color: #511f6e;
    --background-light-color: #d3c1de;
    --background-envs-color: rgb(206,160,160);
    --background-device-color: rgb(212,221,218);
    --device-icon-color: rgb(87,82,82);
}